<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150536454175-aecd1hreg60u5mc6u7tlip519349718g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150536454175-aecd1hreg60u5mc6u7tlip519349718g</string>
	<key>API_KEY</key>
	<string>AIzaSyAR7XjAFbIy1FCaVST7bn6FhKmtLNXQ5DA</string>
	<key>GCM_SENDER_ID</key>
	<string>150536454175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdm</string>
	<key>PROJECT_ID</key>
	<string>notification-63c6e</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-63c6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150536454175:ios:0b374201fa28fc5b7f952a</string>
	<key>DATABASE_URL</key>
	<string>https://notification-63c6e.firebaseio.com</string>
</dict>
</plist>